@{
    ViewData["Title"] = "Home Page";
    Layout = "_MiLayout";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h1>
                Primer Proyecto Progra Web 2 
            </h1>

        </div>
     
    </div>

<div class="container">
    <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h1>
                Descripción
            </h1>
            <p>
                El objetivo principal es desarrollar una aplicación utilizando el patrón MVC con el framework ASP.net 
                <hr>
                <h2>Desarrollo</h2>
               <p> Usando la estructura típica de un scaffold desarrolle los siguientes mantenimientos con sus condiciones <br> 
               el mantenimiento consiste en Listar, Crear, Actualizar, Ver y Eliminar:</p>

           <h3> Listar:</h3>
           <p> será la pantalla inicial de cada módulo, mostrará un listado de todos los registros asociados.</p>
            <h3>Crear:</h3>
            <p> permitirá crear un nuevo registro </p>
            <h3>Actualizar:</h3>
            <p> el usuario podrá ver un registro en detalle y luego actualizarlo</p>
            <h3>Ver:</h3>
            <p> permitiría ver todo el detalle de un registro</p>
            <h3>Eliminar</h3>

            </p>
        </div>
    </div>
</div>

    