@model ProyectoWeb.Models.Support

@{
    ViewData["Title"] = "Create";
    Layout = "_LogeadoAdmin";
@*
validacion de la session, si es administrador, se aplica el layout correspondiente
    if (session=="admin")
    {
        Layout = "_LogeadoAdmin";
    }else{
        Layout = "_LogeadoUsuario";
    }
*@
}

<h2>Create</h2>

<h4>soporte</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetalleDelProblema" class="control-label"></label>
                <input asp-for="DetalleDelProblema" class="form-control" />
                <span asp-validation-for="DetalleDelProblema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuienReporto" class="control-label"></label>
                <input asp-for="QuienReporto" class="form-control" />
                <span asp-validation-for="QuienReporto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoActual" class="control-label"></label>
                <input asp-for="EstadoActual" class="form-control" />
                <span asp-validation-for="EstadoActual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteID" class="control-label"></label>
                <select asp-for="ClienteID" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
