@model ProyectoWeb.Models.Support

@{
    ViewData["Title"] = "Edit";
        Layout = "_LogeadoAdmin";
@*
validacion de la session, si es administrador, se aplica el layout correspondiente
    if (session=="admin")
    {
        Layout = "_LogeadoAdmin";
    }else{
        Layout = "_LogeadoUsuario";
    }
*@
}

<h2>Edit</h2>

<h4>Support</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetalleDelProblema" class="control-label"></label>
                <input asp-for="DetalleDelProblema" class="form-control" />
                <span asp-validation-for="DetalleDelProblema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuienReporto" class="control-label"></label>
                <input asp-for="QuienReporto" class="form-control" />
                <span asp-validation-for="QuienReporto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoActual" class="control-label"></label>
                <input asp-for="EstadoActual" class="form-control" />
                <span asp-validation-for="EstadoActual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteID" class="control-label"></label>
                <input asp-for="ClienteID" class="form-control" />
                <span asp-validation-for="ClienteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
